/* 폰트 확정시 변경할 것 */

/*@font-face {
   font-family: 'Pretendard';
  src: url("../assets/fonts/Dongguk.woff") format('woff');
  font-weight: 400;
  font-style: normal; 
}*/

@font-face {
  font-family: 'Montserrat Alternates';
  src: url("../style/MontserratAlternates-Black.ttf") format('ttf');
}
