/* title font */

@font-face {
  font-family: "MonAExtraBold";
  src: url("../assets/fonts/MontserratAlternates-ExtraBold.woff");
}

@font-face {
  font-family: "MonARegular";
  src: url("../assets/fonts/MontserratAlternates-Regular.woff");
}

/* secondary font */

@font-face {
  font-family: "MonExtraBold";
  src: url("../assets/fonts/Montserrat-ExtraBold.woff");
}

@font-face {
  font-family: "MonSemiBold";
  src: url("../assets/fonts/Montserrat-SemiBold.woff");
}

@font-face {
  font-family: "MonRegular";
  src: url("../assets/fonts/Montserrat-Regular.woff");
}

/* primary font */
@font-face {
  font-family: "PretendardExtrabold";
  src: url("../assets/fonts/Pretendard-ExtraBold.woff");
}

@font-face {
  font-family: "PretendardSemiBold";
  src: url("../assets/fonts/Pretendard-SemiBold.woff");
}

@font-face {
  font-family: "PretendardRegular";
  src: url("../assets/fonts/Pretendard-Regular.woff");
}
